

<div class="container">
	<img id="transaction-icon" src="" height="180" width="180">
	<h4 id="transaction-caption"></h4>
</div>

<script>
	request_transaction(500);

	async function request_transaction(amount) {
		try {
			const response = await fetch("/external/nets/generate", {
				method: "post",
				headers: {
					"Content-Type": "application/json"
				},
				body: JSON.stringify({ "amount": amount })
			});

			const content = await response.json();
			console.log(content);

			document.getElementById("transaction-caption").innerHTML = "";
			document.getElementById("transaction-icon").setAttribute("src", `data:image/png;base64,${content['qr_code']}`);

			setTimeout(query_transaction, 1000, content, 500);
		}
		catch (error) {
			console.error("Failed to generate QR Code");
			console.error(error);
		}
	}
	
	async function query_transaction(payload, amount) {
		const image_success = "https://www.svgrepo.com/show/13650/success.svg";
		const image_error   = "https://www.svgrepo.com/show/13658/error.svg";

		const response = await fetch("/external/nets/query", {
			method: "post",
			headers: {
					"Content-Type": "application/json"
			},
			body: JSON.stringify({
				"stan":             payload["stan"],
				"transaction_date": payload["transaction_date"],
				"transaction_time": payload["transaction_time"],
				"txn_id":           payload["txn_id"],
				"amount":           amount
			})
		});
		
		const content = await response.json();
		console.log(content);
		const code   = content["code"];
		const status = content["status"];

		switch (code) {
			case "09": 
				setTimeout(query_transaction, 1000, payload, amount);
				break;

			case "00": 
				document.getElementById("transaction-icon").setAttribute("src", image_success);
				document.getElementById("transaction-caption").innerHTML = "Payment Successful";
				break;

			default:
				document.getElementById("transaction-icon").setAttribute("src", image_error);
				document.getElementById("transaction-caption").innerHTML = "Payment Failed or Timeout";
				break;
		}
	}
</script>