<!--.col-	.col-sm-	.col-md-	.col-lg-	.col-xl- -->
<div class="container">
{{#if videos}}
	<div class="card card-body">
		<h3 class="text-primary">Video Jots</h3>
		{{#each videos}}
			<div class="card border-primary mb-2 w-100 mx-auto">
				<div class="card-header">
					<h5 class="card-title">{{title}}</h5>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-3">
							<p class="font-italic">Subtitles</p>
							<p class="text-info">{{subtitle}}</p>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-3">
							<p class="font-italic">Language</p>
							<p class="text-info">{{language}}
							</p>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-2">
							<p class="font-italic">Classification</p>
							<p class="text-info">{{classification}}</p>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-2">
							<p class="font-italic">Date Release</p>
							<p class="text-info">{{format_date dateReleased 'YYYY-MM-DD'}}</p>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-2">
							<p class="font-italic"></p>
							<a href="/video/update/{{uuid}}" class="card-link">
								<i class="fas fa-pencil-alt"></i>
								Edit
							</a>
							<form method="POST" action="/video/delete/{{uuid}}?_method=DELETE" id="toggle-delete-{{uuid}}">
								<a href="javascript:;" class="card-link btn-delete" onclick="if (confirm('Confirm delete?')) parentNode.submit();" data-title="Confirm delete?">
									<i class="far fa-trash-alt"></i>
									Delete
								</a>
							</form>
						</div>
					</div>
				</div>

				<div class="accordion" id="storyAccordion">
					<div class="card-header" id="heading-{{uuid}}">
						<button class="btn btn-link" type="button" data-toggle="collapse"
								data-target="#collapse-{{uuid}}"
								aria-expanded="false" aria-controls="collapse-{{uuid}}">
							Story<i class="fas fa-chevron-down"></i>
						</button>
					</div>

					<div id="collapse-{{uuid}}" class="collapse" aria-labelledby="heading-{{uuid}}"
						 data-parent="#storyAccordion">
						<div class="card-body">
						  {{story}}
						</div>
					</div>
				</div>
			</div>
		{{/each}}
	</div>

</div>
{{else}}
	<h3>No videos jotted</h3>
{{/if}}